.pyramid {
  width: 100%;
  min-height: calc(100vh -80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.pyramid .wrapper {
  min-height: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 16px;
  place-items: center;
}

.pyramid .result {
  margin-top: 32px;
  font-size: 1.5rem;
}